.about-us-page {
  background: #F2F2EC;
}

.header-img {
  background-image: url("../imgs/about-us-header.jpeg");
  background-size: cover;
  background-position: center;
  height: 30rem;
}


.section-header {

  
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 600;
  font-size: 500%;
  line-height: 99px;
  letter-spacing: -0.28px;
  text-transform: capitalize;
  
  color: #746B5D;
  padding: 5% 5% 2% 5%
}

.section-body {

  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 33px;
  letter-spacing: -0.28px;
  
  color: #2A3B37;
  padding: 0% 5% 5% 5%;
}

.meet-the-team-section {
  box-sizing: border-box;
  background: #746B5D;
}

.meet-the-team-header {
  color: #F2F2EC;
}

#team-img {

  
  border-radius: 50%;
  width: 100%;
}

.team-text {

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.28px;
  text-transform: capitalize;

  color: #F2F2EC;
}

.row {
  display: flex;
}

.column {
  flex: 20%;
  padding: 2%;
}