* {
  box-sizing: border-box;
}

@keyframes tilt-shaking {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(13deg);}
  50% {transform: rotate(0eg);}
  75% {transform: rotate(-13deg);}
  100% {transform: rotate(0deg);}
}

.column:hover img {
  animation: tilt-shaking 2s;
}

.column:hover h2 {
  color: #bbd496;
  text-shadow: 20px 12px 12px #685f51;
  font-weight: 900;
}

.about-us-page {
  background: #F2F2EC;
}

.header-img {
  background-image: url("../imgs/aboutUs-banner.png");
  background-size: cover;
  background-position: bottom;
  height: 33rem;
  opacity: 67%;
}

.section-header {
  font-family: "Fraunces", serif !important;
  font-style: normal;
  font-weight: 800;
  font-size: 500%;
  line-height: 99px;
  letter-spacing: -0.28px;
  text-transform: capitalize;
  color: #746B5D;
  padding: 5% 5% 2% 5%;
}

.section-body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 33px;
  letter-spacing: -0.28px;
  color: #2A3B37;
  padding: 0% 5% 0% 5%;
}

.card {
  margin: 3%;
  border-color: #4B4438;
}

.resource {
  background-color: #879F91;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-top: 10%;
  border-top: 60px solid #81988b;
  border-bottom: 60px solid #81988b;
}

a {
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  border-radius: 50%;
  color: #F2F2EC;
}

a:hover {
  color: #99AB45;
  text-shadow: 0.1px 0.1px 0.1px #99AB45;
}

.resource-link {
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  border-radius: 50%;
  color: #746B5D;
}

.resource-link:hover {
  color: #F2F2EC;
  text-decoration: wavy overline #d6f062;
}

.meet-the-team-section {
  box-sizing: border-box;
  background: #746B5D;
}

.meet-the-team-header {
  font-family: 'Fraunces', serif;
  color: #F2F2EC;
}

.team-img {
  border-radius: 50%;
  width: 100%;
  border: 0.9px solid #655C4E;
  box-shadow: 2px 5px 9px #655C4E;
}

.team-text {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.28px;
  text-transform: capitalize;
  color: #F2F2EC;
  padding-top: 3%;
}

.card-row {
  display: flex;
  padding-left: 5%;
  width: 100%;
  padding-right: 4%;
  padding-left: 0.2%;
}

.column {
  flex: 20%;
  padding: 2.5%;
}

.footer {
  border-bottom: 15px solid #655C4E;
  padding-bottom: 2%;
}
