* {
  box-sizing: border-box;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.message:hover .message-title {
  animation: tilt-n-move-shaking 5s;
  font-size: 310%;
  text-shadow: 3px 5px 1px white;
}

.homepage {
  background-color: #F2F2EC;
}

.bg-image {
  background-image: url("../imgs/homepage-banner.jpeg");
  background-size: cover;
  background-position: center;
  background-color:rgba(130, 159, 145, 0.53);
  height: 30rem;
  opacity: 74%;
}

#banner-title {
  opacity: 100% !important;
  font-family: 'Fraunces', serif;
  font-weight: 500;
  color: #e6f3dc;
  font-style: normal;
  font-size: 70px;
  line-height: 123px;
  letter-spacing: -0.28px;
  text-transform: capitalize;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.482);
}


#banner-title-resource {
  opacity: 100%;
  font-family: 'Fraunces', serif;
  font-weight: 500;
  color: #4B4438;
  font-style: normal;
  font-size: 45px;
  line-height: 123px;
  letter-spacing: -0.28px;
  text-transform: capitalize;
}

.banner {
  margin-bottom: 5rem;
}

h2 {
  font-size: 3rem;
}

.home-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 15rem;
}

.cta-buttons-section {
  display: flex;
  box-sizing: border-box;
}

#cta {
  margin-left: 11rem;
  position: relative;
  margin-right: auto;
}

#cta:hover {
  animation: tilt-n-move-shaking 2s;
}

.carousel-item {
  margin-top: 5rem;
  height: 40rem;
  position: relative;
  background-position: center;
  background-size: cover;
}

.carousel-control-next, .carousel-control-prev {
  background-color: #00000012;
  height: 40rem;
  margin-top: 5rem;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  background-color: #bbd49632;
}

.carousel-image { /* doesn't work */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

.message {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.message-final {
  text-align: center;
  font-size: 5rem;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  margin: 5% 10% 0 10%;
  font-weight: 600;
}

.message-title {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 600;
  color: #829F91;
  text-align: center;
  margin-left: 6%;
  margin-top: -15%;
  text-shadow: 1px 1px 1px white;
}

.message-text {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  margin-right: 17%;
  text-align: left;
}

.section-header {
  font-family: "Fraunces", serif !important;
  font-style: normal;
  font-weight: 800;
  font-size: 500%;
  line-height: 99px;
  letter-spacing: -0.28px;
  text-transform: capitalize;
  color: #746B5D;
  padding: 5% 5% 2% 5%
}

.section-body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 33px;
  letter-spacing: -0.28px;
  color: #2A3B37;
  padding: 0% 5% 0% 5%;
}

.contact {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #746B5D;
  font-family: "DM Sans", sans-serif;
  border-bottom: 15px solid #655C4E;
}

@media (max-width: 766px) {
  .overflow-hidden {
    overflow-x: hidden;
  }

  .overflow-visible {
    overflow-x: visible;
  }
}