* {
    box-sizing: border-box;
  }

.map-container {
    height: 100vh;
    width: 91.5%;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.sidebar2 {
    overflow: scroll;
    height: 80vh;
}

.marker {
    background-image: url('../imgs/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

.map-panel {
    position: absolute;
    height: 100vh;
    border: 1.5px solid #655C4E;
    border-top: 0px;
    border-bottom: 0px;
}