* {
    box-sizing: border-box;
  }

h2.panel-text {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    color: #746B5D;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: -0.28px;
    text-align: center;
    margin-top: 2rem;
}

.map-container {
    height: 100vh;
    width: 91.5%;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.sidebar2 {
    overflow: scroll;
    height: 80vh;
}

.back-button {
    margin-top: .5rem;
    margin-left: .5rem;
    position:absolute;
    top:0;
    left:0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.card-head {
    display:flex;
    overflow-wrap: break-word;
}

.detailed-card {
    padding: 2rem;
    word-break: break-word;
}

.marker {
    background-image: url('../imgs/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

.map-panel {
    position: absolute;
    height: 100vh;
    border: 1.5px solid #655C4E;
    border-top: 0px;
    border-bottom: 0px;
}

.clicked {
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    border: .1rem solid black;
}

.notClicked {
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    border: .1rem solid black;
}