.cardsy {
    width: 20rem;
}

.cardsy:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.25) !important;
}

.card-title {
    text-shadow: 1px 12px 12px rgba(60, 22, 131, 0.205);
}

a:hover {
    text-decoration: none;
}

#card-img-top:hover {
    border-radius: 5rem !important;
}

.overflow:hover {
    border-radius: 4rem !important;
    border-width: 5px !important;
}

.cardsy:hover {
    background-color: rgba(22, 93, 12, 0.655) !important;
    height: 80%;
    border-radius: 200rem;
}
