/* Full page */
* {
  box-sizing: border-box;
}

#body {
  height: 100vh;
  background-color: #F2F2EC;
}

/* Navbar */
nav {
  background-color: #746B5D;
}

a {
  color: #F2F2EC;
}

/* Calender */
.sc-gLLvby.jOyNJ h1 {
  color: #3F5749 !important;
  font-weight: 250;
}

.sc-beySbM.erssov {
  margin-top: 7vh;
}

.sc-iBdmCd.jVGblD:hover {
  background-color: #2A3B37;
  color: white;
}

.add-event-btn {
  float: right;
}