/* Full page */
* {
  box-sizing: border-box;
}

#body {
  height: 100vh;
  background-color: #F2F2EC;
}

/* Navbar */
nav {
  background-color: #746B5D;
}

a {
  color: #F2F2EC;
}

/* Calender */
.sc-gLLvby.jOyNJ h1 {
  color: #3F5749 !important;
  font-weight: 250;
}

/* Hide calender's built in events panel and button */
.sc-fsYeqs.jDWWEP, .sc-qZqnM.FQFIm, .sc-fsYeqs.jyFfxs, .sc-qZqnM.kHuuoX {
  display: none !important;
}

#events-panel {
  background-color: #829F91;
  padding: 2%;
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  border: 1px dotted black;
}

.sc-beySbM.erssov {
  margin-right: 30%;
  margin-top: 7vh;
}