/* Full page */
* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

#body {
  height: 100vh;
  background-color: #F2F2EC;
}

footer {
  background-color: #746B5D;
  border-bottom: 15px solid #655C4E;
}

/* Navbar */
nav {
  background-color: #746B5D;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #F2F2EC;
  border-bottom: 4px solid #655C4E;
  text-shadow: 1px 2px 4px #594F3E;
  border-top: 3px solid #847A6B;
}

nav:hover {
  color: #f1f4e3;
  font-weight: 500;
}

a {
  color: #F2F2EC;
}

.navbar-brand {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1.85%;
  padding-top: 3%;
  font-size: xx-large;
}

/* Get Involved Page */
.container-main {
  background-color: #F2F2EC;
}

/* card carousal */
.card-carousal {
  margin-bottom: 7%;
  margin-top: 7%;
  margin-right: 0.3%;
  margin-left: 0.3%;
}

/* calendar */
.calendar-container {
  margin-bottom: 5%;
}

.sc-gLDzan.cWoErk h1 {
  color: #293935 !important;
  font-weight: 500;
}

.sc-iAEyYk.goFHZF:hover {
  background-color: #829F91;
  color: white;
}

.add-event-btn {
  color: black;
  font-size: large;
  border: solid 2px #bad155;
  border-radius: 7rem;
  width: 30%;
  padding: 1.6%;
  margin-left: 33%;
  background-color: #F2F2EC;
}

.add-event-btn:hover {
  background-color: #99AB45;
  border: solid 2px #abc04d;
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.071);
}

.btn-container {
  padding-top: 7%;
  padding-bottom: 3%;
  border-top: 9px solid #23322f;
}

/* Map Page */
.map-panel {
  background-color: #F2F2EC;
  position: fixed;
  right: 0;
  border: 1px solid black;
  width: 32%;
  height: 100%;
}

.map-card:hover {
  background: rgba(130, 159, 145, 0.53);
}

.map-card a {
  color: #2A3B37;
}

.map input {
  width: 80%;
}

/* Event Cards */
.cardy {
  background-color: #2A3B37;
  color: #F2F2EC;
  padding-left: 0;
  width: 30rem;
  border-top: 3px solid #99AB45;
  margin-right: 5%;
}

.details-btn {
  border: 1px solid #F2F2EC;
  background-color: #2A3B37;
  color: #F2F2EC;
  border-radius: 0.9em;
  padding: 2.5%;
  margin-top: 5%;
}

.details-btn:hover {
  background-color: rgba(255, 255, 255, 0.122);
}

.card-drop {
  background-color: #99AB45;
  color: white;
}

.mainy {
  width: 50%;
}

.card-header {
  border-top: 10px solid #99AB45;
  height: 18rem;
}

.card-details p {
  color: #b1b0ad;
  padding: 1%;
  margin: 0;
  margin-left: 1%;
}

/* RSVP Form */
.modal-body {
  background-color: #759384;
  padding: 5%;
  text-align: center;
}

.modal-footer {
  background-color: #746B5D;
}

.modal-header {
  background-color: #746B5D;
  color: #F2F2EC;
  text-decoration: wavy overline #d9f463;
  padding-top: 3%;
  padding-left: 3%;
}

.form-control {
  background-color: #F2F2EC;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.cancel-btn, .submit-btn {
  background-color: #d9f463;
  color: #2A3B37;
  border: 1px solid #d9f463;
}

.cancel-btn {
  opacity: 80%;
}

.cancel-btn:hover {
  background-color: #d9f463;
  border: 1px solid #3e461c;
  color: rgb(226, 255, 98);
}

.submit-btn:hover {
  border: 1px solid #3e461c;
  background-color: #d9f463;
  color: green;
}

.radios {
  margin-left: 4%;
  margin-top: 1%;
}

.modal {
  background-color: #3e461c24;
}

.form-extra-text {
  margin-top: 4.2%;
}